PORT=
APP_ENV=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_SSL_ROOT_CERT=

# SSL Mode Reference:
# disable     — No SSL (rejected if enforce SSL is enabled)
# require     — SSL enabled, but does NOT verify the server certificate
# verify-ca   — SSL enabled + verifies server certificate against root CA
# verify-full — SSL enabled + verifies certificate + matches hostname (most secure)
#
# SSL root cert is only used when sslmode is set to verify-ca or verify-full.

# Set the value for SMTP when it set to production
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=